@{
    ViewData["Title"] = "Home Page";
}
    <div>
        <h2>Welcome</h2>
        <div></div>
        @*These allows a faster response time by just having to check for that section instead of having multiple if/else if and else statements to go through*@
        <h3><p>To play Rock, Paper, Scissors, Lizard, Spock <br /> Select one of the options below and see if you can win</p></h3>
        <div>
            <a asp-area="" asp-controller="RPSLS" asp-action="Rock">Rock</a>
        </div>
        <div>
            <a asp-area="" asp-controller="RPSLS" asp-action="Paper">Paper</a>
        </div>
        <div>
            <a asp-area="" asp-controller="RPSLS" asp-action="Scissors">Scissors</a>
        </div>
        <div>
            <a asp-area="" asp-controller="RPSLS" asp-action="Lizard">Lizard</a>
        </div>
        <div>
            <a asp-area="" asp-controller="RPSLS" asp-action="Spock">Spock</a>
        </div>
    </div>
<br/>

<div style="border:solid">
    <h3>Score:</h3>
    <br />
    @*This Checks if the sessions holding the records of how many the user has won, drawn and lost*@
    @if (Context.Session.GetString("Lost") != null || Context.Session.GetString("Won") != null || Context.Session.GetString("Lost") != null)
    {
        @*the user's record in this game is displayed to the user below*@
        <h4><p>Won:@Context.Session.GetString("Won") Drawn: @Context.Session.GetString("Drawn")    Lost:@Context.Session.GetString("Lost")</p></h4>
        @*This checks if a game has been played before displaying a button allowing the user to play a new game*@
        @if (int.Parse(Context.Session.GetString("Won")) > 0 || int.Parse(Context.Session.GetString("Lost")) > 0 || int.Parse(Context.Session.GetString("Drawn")) > 0)
        {
            <a asp-area="" asp-controller="Home" asp-action="Clear"><h3 class="btn btn-default">Clear Scores</h3></a>
        }
    }
</div>
@*Once a user has selected their move a message will be displayed telling the user if they have won, drawn or lost and what move was used for them and against them *@
@if (TempData["Message"] != null)
{
<div>
    <h2>@TempData["Message"]</h2>
</div>
}
